// Typography

// Fonts
$font-sans = "微軟正黑體",Arial,Helvetica,sans-serif
$font-sans-light = "微軟正黑體",Arial,Helvetica,sans-serif
$font-sans-bold = "微軟正黑體", Arial, sans-serif
$font-serif = Georgia,serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace
